name: Deploy nodejs app to EC2

on:
    push:
        branches:
            - main

jobs: 
    deploy: 
        runs-on: ubuntu-latest

        steps: 
            - name: Checkout Code 
              uses: actions/checkout@v4

            - name: Deploy via SSH 
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{ secrets.SSH_HOST}}
                username: ${{ secrets.SSH_USERNAME}}
                key: ${{ secrets.SSH_KEY}}
                script: | 
                    cd app
                    git pull
                    docker-compose up -d --build
                
